.features {
  padding: var(--spacing-2000) 165px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  max-width: 1110px;
  margin: 0 auto;
  align-items: start;
}

.grid > li:nth-child(2),
.grid > li:nth-child(4) { margin-top: var(--spacing-600); }

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .features {
    padding: var(--spacing-1600) 32px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
    max-width: 100%;
  }

  .grid > li:nth-child(2),
  .grid > li:nth-child(3),
  .grid > li:nth-child(4) {
    margin-top: 0;
  }

  .grid > li:nth-child(odd) {
    padding-left: var(--spacing-600);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .features {
    padding: var(--spacing-1200) 16px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-600);
    max-width: 100%;
  }

  .grid > li:nth-child(2),
  .grid > li:nth-child(3),
  .grid > li:nth-child(4) {
    margin-top: 0;
  }
}
