.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--spacing-1000) 165px;
  z-index: 10;
}

.logo {
  width: 89px;
  height: auto;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: var(--spacing-600) 32px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .header {
    padding: var(--spacing-400) var(--spacing-200);
    display: flex;
    justify-content: center;
  }
}
